*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}

#Main{

}

#Header{
 height: 46px;
 background-color: #000;
}

#nav, .subnav{
  list-style-type: none;
  z-index: 1;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a{
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav{
  display: block;
}

#nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav .subnav li:hover,
#nav > li:hover > a{
  color: #000;
  background-color: #ccc;
}

#nav > li{
  display: inline-block;
  justify-content: center;
  
}



#nav li{
  position: relative;
}
#nav .subnav{
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .fa-caret-down{
  font-size: 15px;
}


.header-search{
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  align-items: center;
  width: 1200px;
}

.header-search img{
  width: 100px;
}


.header-search input[type="text"]{
  width: 900px;
  height: 50px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.5px solid black;
  padding-left: 20px;
  position: relative;
  left: 70px;
}

.header-search .search i{
  position: relative;
  font-size: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.header-search .search i:hover{
  color: red;
  transform: scale(0.9);
}



.add-to-cart{
  right: -120px;
  position: relative;
  cursor: pointer;
}

.header-search .add-to-cart i{
  font-size: 50px;
}

.add-to-cart:hover i{
  color: orange;
  opacity: 0.7;
  transition: 0.3s;
}





.header-listed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px; /* Giới hạn chiều rộng container */
  margin: 0 auto; /* Căn giữa container */
}

.header-listed__section {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap; /* Bọc các mục khi hết chiều rộng */
}

.header-listed__section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%; /* Chiều rộng mỗi mục */
  min-width: 120px; /* Chiều rộng tối thiểu mỗi mục */
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: #fff; /* Màu nền mỗi mục */
}

.header-listed__section li:hover {
  background-color: #ddd;
}

.header-listed__section li a {
  text-decoration: none;
  color: #666;
}

.header-listed__section li i {
  font-size: 24px;
  margin-bottom: 5px;
}
